root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{py,pyx,pyi}]
indent_size = 4
max_line_length = 120

[*.{js,jsx,ts,tsx,json,yml,yaml}]
indent_size = 2

[*.{c,cpp,h,hpp,cc,cxx}]
indent_size = 4

[*.java]
indent_size = 4

[*.md]
trim_trailing_whitespace = false
max_line_length = off

[*.{bat,cmd,ps1}]
end_of_line = crlf

[Makefile]
indent_style = tab
