<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Homeworktwo">

        <!-- MainActivity 是应用的入口 -->
        <activity
            android:name=".MainActivity"
            android:label="注册信息"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- DisplayActivity 用于显示用户输入的信息 -->
        <activity
            android:name=".DisplayActivity"
            android:label="提交信息"
            android:exported="false" />
    </application>

</manifest>